section.container
  h2 ⭐⭐⭐ Cadeaux Premium ⭐⭐⭐
  ul
    li Gardez-nous les filles, même 2 heures, pour qu'on puisse passer un peu de temps à deux
    li De l'aide pour avancer dans nos travaux

  br
  br
  br

  h2 Cadeaux Standard

  h3 🖥 Informatique
  ul
    li
      ' Si tu gagnes au loto, un 
      a> target="_blank" href="https://www-ssl.intel.com/content/www/us/en/nuc/nuc-kit-nuc7i5bnk.html" NUC7i5BNK
    li
      ' ...ou un 
      a> target="_blank" href="https://www-ssl.intel.com/content/www/us/en/nuc/nuc-kit-nuc7i3bnk.html" NUC7i3BNK
      ' si ça te fait trop mal

  hr

  h3 🎮 Jeux vidéo
  h4 ⇒ achète sur Internet, c'est beaucoup moins cher
  h4 ⇒ les éditions standard me conviennent parfaitement
  ul
    li
      a> target="_blank" href="http://www.amazon.fr/dp/B00ZUEE3LI" Deus Ex : Mankind Divided
      ' (PS4)

  hr

  h3 💬 BD / Mangas / Comics
  ul
    li
      a> target="_blank" href="http://www.amazon.fr/dp/2365772919" Batman The Dark Knight Returns
      ' de Frank Miller
    li
      ' Tomes
      a target="_blank" href="http://www.amazon.fr/dp/2756017450" 3
      ' ,
      a> target="_blank" href="http://www.amazon.fr/dp/2756023396" 5
      ' et
      a> target="_blank" href="http://www.amazon.fr/dp/2756076368" 10
      ' des Notes de Boulet (avec dédicace de l'auteur, ça serait top 👍)

  hr

  h3 📚 Livre
  ul
    li H.P. Lovecraft. Contre le monde, contre la vie ~ Michel Houellebecq
    li Le seigneur des porcheries ~ Tristan Egolf, Rémy Lambrechts
    li Confidence africaine ~ Roger Martin de Gard
    li Savoir rédiger ~ Yann Le Lay

  hr

  h3 🛠 Bricolage / Maison
  ul
    li 
      ' Un bac à granulés design (genre 
      a target="_blank" href="http://amzn.eu/1ZKbaW1" ça
      ')
    li
      ' Une pelle à granulés design (genre 
      a target="_blank" href="http://amzn.eu/iPmYi2J" ça
      ')
    li Des outils pratiques dont je ne connais même pas l’existence 😅
