body {
  font-family: "Varela Round", sans-serif;
  color: #2B264A;
  
  background-image: url(../images/background.jpg);
  background-color: #F6F6F6;

  margin: 80px auto;
  width: 500px;
}

section {
  margin: 5ex 0;
}


/*@font-face {
  font-family: 'Fauna One', serif;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 80px auto;
  background: #62665f;
  width: 460px;
  color: #bbb;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body.post {
  background: #fff;
  color: #404040;
}

body.post header {
  margin-bottom: 24px;
}

body.post header h1 {
  font-size: 16px;
  font-weight: normal;
  color: #08c;
  margin: 0;
}

body.post header time,
body.post footer p,
small {
  font-size: 13px;
}

small {
  letter-spacing: 1px;
}

body.post footer {
  margin-top: 48px;
  padding-top: 24px;
  border-top: 1px solid #ccc;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
    width: 690px;
    font-size: 24px;
    line-height: 36px;
  }

  body.post header h1 {
    font-size: 24px;
  }

  body.post header time,
  body.post footer p,
  small {
    font-size: 19px;
  }
}

a {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

body.post a {
  color: #404040;
}

body.post a:hover {
  color: #08c;
  border-bottom: 1px solid #08c;
}

p {
  margin: 0 0 2ex 0;
}

ul {
  margin: 0 0 2ex 0;
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  padding: 0;
}

#introduction,
#introduction a {
  color: #fff;
}

section {
  margin: 5ex 0;
}
*/