body {
  font-family: "Varela Round", sans-serif;
  color: #2B264A;
  
  background-image: url(../images/background.jpg);
  background-color: #F6F6F6;

  margin: 80px auto;
  width: 500px;
}

section {
  margin: 5ex 0;
}
