h2 ⭐ Cadeau Premium
ul
  li
    ' Gardez-nous les filles, même 2 heures, pour qu'on puisse passer un peu de
    ' temps à deux
  li De l'aide pour avancer dans nos travaux

.ui.divider

h3 💻 Informatique
ul
  li
    ' Un mini clavier sans fil rétro-éclairé comme
    a> target="_blank" rel="noopener" href="http://amzn.eu/5CdtywZ" ça
    ' (attention de bien le prendre AZERTY)
  li Un fauteil de bureau confortable 💺

.ui.divider

h3 🎮 Jeux vidéo
div
  i ⇒ achète sur Internet, c'est beaucoup moins cher
div
  i ⇒ les éditions standard me conviennent parfaitement
ul
  li
    a> target="_blank" rel="noopener" href="http://amzn.eu/0ruX3yL" Shadow of the Colossus
    ' (PS4)
  li
    a> target="_blank" rel="noopener" href="http://amzn.eu/fY3Jtjk" Ni no Kuni II
    ' (PS4)
  li
    a> target="_blank" rel="noopener" href="https://www.amazon.fr/dp/B072J2MFKZ/ref=cm_sw_r_tw_dp_U_x_8UczDbTVGK5NZ" NieR Automata
    ' (PS4)
  / li
  /   a> target="_blank" rel="noopener" href="http://amzn.eu/9lzElNz" DragonBall Fighter Z
  /   ' (PS4)
  / li
  /   a> target="_blank" rel="noopener" href="http://amzn.eu/gHzLOyu" Ys VIII: Lacrimosa of Dana
  /   ' (PS4)

.ui.divider

h3 💬 BD / Mangas / Comics
ul
  li
    ' Tomes
    a target="_blank" rel="noopener" href="http://amzn.eu/bnOdOsv" 3
    ' ,
    a> target="_blank" rel="noopener" href="http://amzn.eu/9F2cZ8h" 5
    ' et
    a> target="_blank" rel="noopener" href="http://amzn.eu/bjv02Bn" 10
    ' des Notes de Boulet

/ .ui.divider
/
/ h3 📚 Livre
/ ul
/   / li Le seigneur des porcheries ~ Tristan Egolf, Rémy Lambrechts
/   / li Confidence africaine ~ Roger Martin de Gard

.ui.divider

h3 🏡 Maison
ul
  / li
  /   ' Un moniteur d'air intérieur (genre
  /   a> target="_blank" rel="noopener" href="http://amzn.eu/9gNkehy" celui-ci
  /   ' ou
  /   a> target="_blank" rel="noopener" href="https://www.co2meter.com/collections/indoor-air-quality/products/tim10-desktop-co2-temp-humidity-monitor" celui-là
  /   ' qui est moche mais plus précis)
  / li
  /   ' Une lampe de luminothérapie (genre
  /   a target="_blank" rel="noopener" href="http://amzn.eu/4KOJl1v" ça
  /   ')
  li
    ' Une barre de son (la
    a> target="_blank" rel="noopener" href="https://www.lesnumeriques.com/enceintes-home-cinema/yamaha-yas-108-p45185.html" Yamaha YAS-108
    ' a l'air bien)

.ui.divider

h3 👕 Vêtements
ul
  li
    ' Un T-Shirt de sport "Dry" blanc (par exemple
    a target="_blank" rel="noopener" href="https://www.amazon.fr/dp/B07KKZ3Z69/ref=cm_sw_r_tw_dp_U_x_5JQEDbFRE4J3Y" celui-là
    ')
  li
    ' Une coquille de protection (ça ressemble à
    a target="_blank" rel="noopener" href="https://www.amazon.fr/dp/B001F79XKU/ref=cm_sw_r_tw_dp_U_x_QRQEDbWSPPNN0" ça
    ')

.ui.divider

h3 🍵 Thé
div
  i ⇒ Achète en vrac, c'est meilleur et plus écologique !
div
  i ⇒ Si possible du bio
ul
  li Du Genmaicha
  li Du thé vert Bancha
