doctype html
html lang="fr"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    / https://cdnjs.com/libraries/semantic-ui
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/reset.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/site.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/divider.min.css"
    meta name="author" content="Thomas JUSTINO"
    meta name="description" content="Tout moi résumé en 3 chapitres 😅"
    title Thomas JUSTINO
  body
    header.ui.centered.grid
      .row.grey style="margin-top: 1rem;"
        .right.aligned.four.wide.column
          a href="mailto:thomas@justino.fr" target="_blank" rel="noopener"
            img src="img/mail.svg" height="40" width="40" alt="courriel"
        .center.aligned.two.wide.column
          a href="https://twitter.com/ThomasJustino" target="_blank" rel="noopener"
            img src="img/twitter.svg" height="40" width="40" alt="Twitter"
        .left.aligned.four.wide.column
          a href="https://github.com/tjustino" target="_blank" rel="noopener"
            img src="img/github.svg" height="40" width="40" alt="GitHub"
      .row.teal
        .center.aligned.column
          - if request.path_info == "/"
            h1 Thomas JUSTINO
          - else
            h1
              a href="/" style="color:inherit;" Thomas JUSTINO
    main.ui.container.grid
      .left.aligned.column
        == yield
/! Made with ❤ just for you
