<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Thomas JUSTINO</title>
    <meta name="description" content="Site perso de Thomas JUSTINO">
    <meta name="author" content="Thomas JUSTINO">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="img/favicon.ico" sizes="any">
    <link rel="icon" href="img/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <div class="banner">
          <a href="mailto:thomas@justino.fr" target="_blank" rel="noopener">
            <img src="img/mail.svg" height="40" width="40" alt="courriel">
          </a>
          <a href="https://github.com/tjustino" target="_blank" rel="noopener">
            <img src="img/github.svg" height="40" width="40" alt="GitHub">
          </a>
      </div>
      <h1>
        <% if request.path_info == "/" %>
          Thomas JUSTINO
        <% else %>
          <a href="/">Thomas JUSTINO</a>
        <% end %>
      </h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

<!-- Made with â¤ just for you -->
