h2 Parcours pro
p
  ' Je suis actuellement Chef de Projet Informatique à la
  a target="_blank" rel="noopener" href="http://www.gpseo.fr/" Communauté Urbaine du GPS&O
  | . J'aide humblement à construire un Système d'Information innovant et 100%
  |  orienté Cloud. Mes compétences techniques m'ont permis de mener à bien des
  |  projets autour de l'
  a target="_blank" rel="noopener" href="https://developer.microsoft.com/fr-fr/graph/" API Microsoft Graph
  | . J'ai également aidé à généraliser le
  a<> target="_blank" rel="noopener" href="https://fr.wikipedia.org/wiki/Authentification_unique" SSO
  ' au sein de notre SI et à faire évoluer les solutions de courrier
  | dématérialisé de la CU (
  a target="_blank" rel="noopener" href="https://www.legalbox.com/" LegalBox
  ' ,
  a target="_blank" rel="noopener" href="http://www.maileva.com/" Maileva
  ' , etc.).
p
  ' Avant cela, j'ai travaillé chez
  a> target="_blank" rel="noopener" href="https://www.inria.fr/" Inria
  ' entre mai 2008 et janvier 2017. J'ai été embauché en tant que chef de
  ' projet informatique, mais mon poste a évolué en septembre 2012 pour
  ' devenir responsable de l'exploitation du Système d'Information de
  | gestion. Mon quotidien était peuplé d'
  a target="_blank" rel="noopener" href="http://www.oracle.com/fr/products/applications/ebusiness/overview/index.html" Oracle E-Business Suite
  ' ,
  a target="_blank" rel="noopener" href="http://www.gfi.world" Astre
  ' ,
  a target="_blank" rel="noopener" href="http://www.kds.fr/fr/" KDS
  ' ,
  a target="_blank" rel="noopener" href="http://www.itesoft.com/fr/" Itesoft
  ' , bien d'autres progiciels moins connus et plusieurs développements
  ' internes pour gérer les interfaces entre tout ce petit monde.

p
  ' Encore avant cela, j'ai bossé deux ans chez Etap-On-Line (aujourd'hui
  a target="_blank" rel="noopener" href="https://www.concur.fr/" Concur
  ' ), éditeur d'une solution de gestion d'ordres de mission et de notes de
  ' frais que j'ai déployée dans plein de grosses boîtes.

p
  ' Les plus curieux auront peut être croisés la publication en 2006 de mon
  | mémoire de Master sur le site de l'
  abbr> title="Agence Française pour le Jeu Vidéo" afjv
  ' intitulé «&nbsp;Les enjeux de la maîtrise de la chaîne logistique dans
  ' l'industrie des jeux vidéo&nbsp;».

.ui.hidden.divider

h2 Parcours perso
p
  ' Je hack pas mal à titre personnel, mon langage de prédilection est le
  a target="_blank" rel="noopener" href="https://www.ruby-lang.org/en/" Ruby
  ' .
  br
  ' Je vous invite à consulter mon profil
  a> target="_blank" rel="noopener" href="https://github.com/tjustino" GitHub
  ' et mes projets en cours.

.ui.hidden.divider

h2 Parcours sportif
p
  ' Je pratique le
  a> target="_blank" rel="noopener" href="https://www.ffkarate.fr/karate-full-contact-karate-contact/" Karaté Contact
  | depuis 2010. Je suis actuellement ceinture noire 3
  sup> ème
  ' Dan.
  br
  ' Il m'arrive encore d'enfiler mes baskets pour faire du
  a> target="_blank" rel="noopener" href="https://fr.wikipedia.org/wiki/Trail_%28course_%C3%A0_pied%29" trail
  | en amateur, mais beaucoup moins qu'à une époque.
