<h2 class="text-xl font-bold">Pro</h2>
<p class="text-justify pt-2">
  Je suis actuellement chef du service Partenaire Métiers du
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://la.charente-maritime.fr/">Département de la Charente-Maritime</a>.
</p>
<p class="text-justify pt-2">
  Avant cela, entre février 2017 et février 2021, j'ai été chef de projet informatique puis chef du service Informatique & Télécoms de la
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://gpseo.fr/">Communauté Urbaine du GPS&O</a>.
  J'ai aidé à construire un Système d'Information 100% orienté Cloud. Mes compétences techniques
  m'ont permis de mener des projets autour de
  l'<a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://developer.microsoft.com/fr-fr/graph/">API Microsoft Graph</a>.
  J'ai également aidé à généraliser le
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://fr.wikipedia.org/wiki/Authentification_unique">SSO</a>
  et à faire évoluer les solutions de courrier dématérialisées
  (<a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.legalbox.com/">LegalBox</a>,
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="http://www.maileva.com/">Maileva</a>, etc.).
</p>
<p class="text-justify pt-2">
  Avant cela, j'ai travaillé chez
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.inria.fr/fr">Inria</a>
  entre mai 2008 et janvier 2017. J'ai été embauché en tant que chef de projet informatique, mais mon poste a évolué en
  septembre 2012 pour devenir responsable de l'exploitation du Système d'Information de gestion. Mon quotidien était peuplé
  d'<a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.oracle.com/fr/applications/ebusiness/">Oracle E-Business Suite</a>,
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.inetum.com/fr/software/human-ressources/astre-rh">Astre RH</a>,
  KDS (aujourd'hui <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.amexglobalbusinesstravel.com/fr/neo-voyages-notes-de-frais/">Neo</a>),
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.itesoft.com/fr/">Itesoft</a>, bien d'autres progiciels moins
  connus et plusieurs développements internes pour gérer les interfaces de tout ce petit monde.
</p>
<p class="text-justify pt-2">
  Encore avant, j'ai bossé deux ans chez Etap-On-Line (aujourd'hui
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.concur.fr/">Concur</a>),
  éditeur d'une solution de gestion d'ordres de mission et de notes de frais que j'ai déployée dans plein de grosses boîtes.
</p>
<p class="text-justify pt-2">
  Les plus curieux auront peut être croisés la publication en 2006 de mon mémoire de Master sur le site de
  l'<abbr title="Agence Française pour le Jeu Vidéo">afjv</abbr>
  intitulé «&nbsp;Les enjeux de la maîtrise de la chaîne logistique dans l'industrie des jeux vidéo&nbsp;».
</p>

<h2 class="text-xl font-bold pt-5">Perso</h2>
<p class="text-justify pt-2">
  Je hack pas mal à titre personnel, mon langage de prédilection est le
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.ruby-lang.org/en/">Ruby</a>.
  <br>
  Mes projets en cours sont consultables sur
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://github.com/tjustino">GitHub</a>.
</p>
<p class="text-justify pt-2">
  Je pratique le
  <a class="text-sky-900 underline hover:decoration-dotted" target="_blank" rel="noopener" href="https://www.ffkarate.fr/karate-full-contact-karate-contact/">Karaté Contact</a>
  depuis 2010. Je suis actuellement ceinture noire 3<sup>ème</sup> Dan.
</p>
